# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.log
next-env.d.ts
*.tsbuildinfo

# chaves locais (Supabase etc.)
.env
.env*.local

graphify-out/
.vercel
.env*

# Banco de imagens gerado pelo script npm run gerar-imagens
/public/cidade_imagens.json
